@font-face {
    font-family: 'safiro-medium';
    src: url('../assets/fonts/safiro-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Bold';
    src: url('../assets/fonts/GeneralSans-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.minigame-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #00354F;
    font-family: 'Arial', sans-serif;
    position: relative;
    z-index: 1;
}

.minigame-wrapper.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url(../assets/svg/MapofEU.svg);
    background-size: 80vw 100vh; 
    background-repeat: no-repeat;
    background-position: 250% center;
    
    opacity: 0.1;
    z-index: -1;
}

.main-title {
    color: #00354F;
    z-index: 5;
    padding: 8px;
    margin-top: 40px;
    font-size: 48px;
    font-family: 'GeneralSans-Bold', Arial, sans-serif;
}

.white-card {
    background-color: white;
    width: 80%; 
    height: 100vh;
    position: relative;
}

.video-overflow-container {
    width: 110%;
    z-index: 10;
}

.game-video {
    width: 100%;
    height: 50vh; 
    border-radius: 15px;
    border: 6px solid white;
    object-fit: contain; 
    background-color: #00354F; 
}

.card-content-bottom {
    width: 100%;
    bottom: 10px;
}

h2.text-white {
    font-family: 'GeneralSans-Bold', Arial, sans-serif;
    margin-top: 40px;
    font-size: 50px;
}

.divider {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 80%;
    margin: 0 auto;
}

.control-circle {
    width: 45px;
    height: 45px;
    background-color: white;
    color: #12344d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.description-text {
    color: #444;
    font-size: 24px;
    line-height: 1.6;
    margin: 0;
    font-family: 'safiro-medium';
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.buttons.visible {
    opacity: 1;
    pointer-events: auto;
}

.btn-start {
    background-color: #ff6a48;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 26px;
    font-weight: bold;
    transition: transform 0.1s ease;
    font-family: 'safiro-medium';
    font-weight: 500;
}

.btn-start:hover {
    background-color: #e55a3d;
    transform: scale(1.02);
}

.btn-back {
  display: flex;
  align-items: center;
  background: rgba(206, 57, 57);
  border-radius: 12px;
  padding: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
  text-align: center;
  justify-content: center;
  font-family: 'safiro-medium';
  font-weight: 500;
}

.countdown-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.countdown-number {
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.video-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;

    z-index: 10;
    pointer-events: none;

    animation: blinkOverlay 20s infinite;
    border-radius: 16px;
}

@keyframes blinkOverlay {
    0% { opacity: 1; }
    10% { opacity: 1; }
    40% { opacity: 0; }
    70% { opacity: 0; }
    100% { opacity: 1; }
}

.controls {
    transform: scale(0.95);
    opacity: 0;
    animation: controlsPopIn 1000ms ease-out forwards;
    animation-delay: 5s
}

@keyframes controlsPopIn {
    0% {
        transform: scale(0.85);
        opacity: 0;
    }

    60% {
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pop-up1 {
    transform: scale(0.95);
    opacity: 0;
    animation: PopIn 1000ms ease-out forwards;
}

.videoPop-in {
    transform: scale(0.95);
    opacity: 0;
    animation: videoPop-in 1000ms ease-out forwards;
    animation-delay: 8s;
}

@keyframes videoPop-in {
    0% {
        transform: scale(0.85);
        opacity: 0;
    }

    60% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes PopIn {
    0% {
        transform: scale(0.85);
        opacity: 0;
    }

    60% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
